.global_container {
  color: white;
}
html {
  font-family: "Mclaren", sans-serif;

  background-color: whitesmoke;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
}
.header {
  background-color: #f5ba13;
  margin: 0;
  box-shadow: 0 0 10px 0;
}
.title {
  margin: 0 0 0 10px;
  color: white;
}
.noteContainer {
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  display: flex;
  flex-direction: column;
  width: 200px;
  place-items: center;
  margin-top: 20px;
  background-color: #fff;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  color: #ccc;
}
.container {
  height: 100vh;
}
